<div class="card-product position-relative rounded-1 p-3 h-100 justify-content-between">
  <header>
    <h4 data-testid="name">{{ name }}</h4>
  </header>

  <div class="product-details d-flex">
    <p class="stock d-flex justify-content-between align-items-end flex-fill mb-0" data-testid="quantity">
      Estoque

      <span>{{ quantity }}</span>
    </p>
    <p class="flex-fill fs-4 fw-bold text-end mb-0" data-testid="price">
      <span class="currency">R$</span>

      {{ price | number: '1.2' }}
    </p>
  </div>

  <button
    class="btn btn-danger shadow-danger text-light py-1 px-2"
    data-testid="btn-remove"
    type="button"
    (click)="removeProduct()"
  >
    <svg viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" color="currentColor" width="24" height="24"><path d="M10 17L10 11"></path><path d="M14 17L14 11"></path><path d="M4 7L20 7"></path><path d="M6 8C6 7.44772 6.44772 7 7 7V7H17V7C17.5523 7 18 7.44772 18 8V14V17C18 18.8856 18 19.8284 17.4142 20.4142C16.8284 21 15.8856 21 14 21H12H10C8.11438 21 7.17157 21 6.58579 20.4142C6 19.8284 6 18.8856 6 17V14V8Z"></path><path d="M16 7V7C16 5.11438 16 4.17157 15.4142 3.58579C15.4142 3.58579 15.4142 3.58579 15.4142 3.58579C14.8284 3 13.8856 3 12 3V3C10.1144 3 9.17157 3 8.58579 3.58579C8 4.17157 8 5.11438 8 7V7"></path></svg>
  </button>
</div>
