<form
  data-testid="form"
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
>
  <app-input-wrapper label="Nome:" [control]="productForm.controls.name">
    <input
      data-testid="form-name"
      type="text"
      [formControl]="productForm.controls.name"
    />
  </app-input-wrapper>

  <app-input-wrapper label="Preço:" [control]="productForm.controls.price">
    <input
      data-testid="form-price"
      mask="separator.2"
      prefix="R$"
      type="text"
      [formControl]="productForm.controls.price"
    />
  </app-input-wrapper>

  <app-input-wrapper label="Quantidade:" [control]="productForm.controls.quantity">
    <input
      data-testid="form-quantity"
      type="number"
      [formControl]="productForm.controls.quantity"
    />
  </app-input-wrapper>

  <button data-testid="form-btn-submit" type="submit">Salvar</button>
</form>
